body {
    background: #252525;
    padding: 0;
    margin: 0;
    font-family: calibri;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-shadow: 0 0 3px #fff;
}

a:active {
    color: #c6c6c6;
    text-shadow: 0 0 3px #878787;
}

#h2_dev {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    user-select: none;
}

#head_index {
    height: 700px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

/* ====== MENU ====== */
#div_menu {
    background: #252525;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: solid 1px #424242;
}

#div_menu a {
    /* background: coral; */
    display: flex;
    align-items: center;
    font-size: 16pt;
}

#img_logo {
    margin-right: 20px;
}

#div_link_pages {
    /* background: #fff; */
    height: 100%;
    width: 400px;
    display: flex;
    order: 2;
    align-items: center;
    justify-content: space-around;
}

#div_menu img {
    height: 60px;
    width: 65px;
}


/* ====== ME_INFO ====== */
#div_me {
    /* background: #ffffff29; */
    margin-top: 20px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#div_contend_info {
    /* background: #fff; */
    height: 400px;
    width: 600px;
    display: flex;
    position: relative;
    border-radius: 20px;
}

#div_meinfo {
    z-index: 2;
    background: #181818;
    background: #131313c4;
    height: 100%;
    width: 900px;
    position: absolute;
    display: flex;
    align-items:  center;
    margin: 0;
    border-radius: 200px 50px;
    border-bottom: solid 4px #fff;
    padding-left: 70px;
}

#div_meinfo h1 {
    position: absolute;
    top: 0;
    left: 152px;
}

#div_meinfo p {
    z-index: 2;
    /*background: #ff7f502e;*/
    height: 300px;
    width: 400px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    bottom: 0px;
    margin: 0;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16pt;
    text-shadow: 1px 1px 5px #000;
}

#div_contend_info img {
    height: 100%;
    width: 500px;
    position: absolute;
    bottom: 10px;
    margin-left: 60px;
}

#me_img {
    background: #252525;
    z-index: 2;
    height: 500px;
    width: 500px;
    border-radius: 2000px;
    border-bottom: dashed 5px #fff;
    border-right: double 10px #fff;
    box-shadow: 2px 2px 15px #000000;
}


/* ====== ME_SOCIAL ====== */
#div_contend_social {
    /* background: #000; */
    margin-left: 150px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20pt;
    font-weight: bold;
}

#div_contend_social a {
    display: flex;
    align-items: center;
}

#div_contend_social img {
    height: 70px;
    margin-right: 10px;
}

/* ====== MAIN ====== */
main {
    /* background: #424242; */
    height: 1500px;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#div_projects {
    /* background: #222222; */
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_proj {
    background: #303030;
    height: 400px;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    border-radius: 200px 200px 100px 200px;
    padding-left: 30px;
    padding-right: 30px;
    border-top: solid  #545454;
    box-shadow: 10px 10px 10px #1b1b1b;
}

.content_proj img {
    height: 350px;
    width: 350px;
    border-radius: 200px;
    box-shadow: 0 0 10px #1b1b1b;
}

.content_proj:nth-child(2n) {
    flex-direction: row-reverse;
    border-radius: 200px 200px 200px 100px;
}

.content_text {
    background: #252525;
    height: 300px;
    width: 500px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    box-shadow: inset 0 0 10px #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.content_text h2 {
    font-size: 24pt;
    margin: 0;
    margin-top: 20px;
}

.content_text p {
    height: 250px;
    width: 90%;
    font-size: 16pt;
    text-align: center;
}

.a_goto {
    position: absolute;
    bottom: -35px;
    font-size: 14pt;
    color: #00b1ff;
}

.a_goto:hover {
    text-shadow: 0 0 3px #00b1ff;
}

.a_goto:active {
    color: #008fce;
    text-shadow: 0 0 3px #008fce;
}

#h2_main_tittle {
    font-size: 30pt;
}
